In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('test.xlsx',usecols = [51])

In [3]:
df

    核心课程第2节作业
0          33
1        1000
2        1000
3        1000
4        1000
5        1000
6        1000
7        1000
8        1000
9          33
10       1000
11         33
12         66
13         66
14       1000
15         33
16        100
17         33
18       1000
19         66

In [4]:
df = df[df['核心课程第2节作业']<1000]

In [5]:
df

    核心课程第2节作业
0          33
9          33
11         33
12         66
13         66
15         33
16        100
17         33
19         66

In [6]:
df = df.apply(lambda x:x/100)

In [7]:
df.astype('float')

    核心课程第2节作业
0        0.33
9        0.33
11       0.33
12       0.66
13       0.66
15       0.33
16       1.00
17       0.33
19       0.66

In [ ]:
df['核心课程第2节作业'] = df['核心课程第2节作业'].apply(lambda x:format(x,'.2%'))

In [17]:
df

   核心课程第2节作业
0     33.00%
9     33.00%
11    33.00%
12    66.00%
13    66.00%
15    33.00%
16   100.00%
17    33.00%
19    66.00%

In [9]:
a = df.mean()

In [13]:
a

核心课程第2节作业    0.514444
dtype: float64

TypeError: unsupported format string passed to Series.__format__